<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="styles/layout.css">
</head>
<header>
  <%- include('partials/header'); %>
</header>

<body>
  <h1 id="title">My List:
    <%= books.length %>
  </h1>
  <ul>

    <% books.forEach((book) => { %>
      <li class="bookList">
        <%= book.title%> :
          <%= book.author %> <img class="bookCover" src="<%= book.image_url %>" /></li>

  </ul>

  <a class="detailTag" href="./books/<%= book.id %>">View Details</a>

  <% }) %>
    <footer>
      <%- include('partials/footer'); %>
    </footer>
</body>

</html>